ul {
    color: white;
    text-align: center;
  }
  body{
    background-color: black;
  }
  
  p {
      color: brown;
    font-family: verdana;
    font-size: 40px;
  }
  script{
    background-color: red;
  }
